<div th:fragment = "nav-menu">
    <nav>
        <div class = "menu">
            <a th:href="@{/timer/{userID}(userID=${userID})}" class="navbutton timerbutton">
                <span>Timer</span>

            </a>
            <a th:href="@{/todolist/{userID}(userID=${userID})}" class="navbutton todolist">
                <span>To do list</span>
            </a>
            <a th:href="@{/statistics/{userID}(userID=${userID})}" class="navbutton statistics">
                <span>Statystyki</span>
            </a>
            <a th:href="@{/achievements/{userID}(userID=${userID})}" class="navbutton achievement">
                <span>Odznaki</span>
            </a>
            <a th:href="@{/logout/{userID}(userID=${userID})}" class="navbutton logout">
                <span>Wyloguj</span>
            </a>
        </div>
    </nav>
</div>