<nav>
    <div class = "menu">
        <a href="timer" class="navbutton timerbutton">
            <span>Timer</span>
            <img class="button_mobile" src ="../../img/navigation_mobile/timer.svg"/>
        </a>
        <a href="todolist" class="navbutton todolist">
            <span>To do list</span>
            <img class="button_mobile" src ="../../img/navigation_mobile/todolist.svg"/>
        </a>
        <a href="statistics" class="navbutton statistics">
            <span>Statystyki</span>
            <img class="button_mobile" src ="../../img/navigation_mobile/statistics.svg"/>
        </a>
        <a href="achievements" class="navbutton achievement">
            <span>Odznaki</span>
            <img class="button_mobile" src ="../../img/navigation_mobile/achievement.svg"/>
        </a>
        <a href="logout" class="navbutton logout">
            <span>Wyloguj</span>
            <img class="button_mobile" src ="../../img/navigation_mobile/logout.svg"/>
        </a>
    </div>
</nav>