<!DOCTYPE html>
<head>
    <link rel ="stylesheet" type = "text/css" href="public/css/achievements.css">
    <link rel ="stylesheet" type = "text/css" href="public/css/extra/navigation.css">

    <title>Pomidoro | Achievements</title>
</head>

<body>
    <div class="base_container">

        <main>

            <div class="group">
                <img class="achievement_icon" src ="../img/achievement_page/achievement.svg">
                <div class="achievement_text"></div>
            </div>

        </main>

    </div>

</body>