<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="extra/configuration :: link-menu"></div>
    <title>Pomidoro | Achievements</title>
</head>

<body>
    <div th:replace="extra/navigation :: nav-menu"></div>
    <div class="base_container">

        <main>

            <div class="group">
                <img class="achievement_icon" th:src ="@{img/achievement_page/achievement.svg}">
                <div class="achievement_text"></div>
            </div>

        </main>

    </div>

</body>