<!DOCTYPE html>
<head>

    <link rel="shortcut icon" href="../img/tomato.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

    <title>Pomidoro | Login</title>

    
</head>
<body>

    <div class="container">
        <div class = "left-side">
            <div class="title">Pomidoro</div>
            <div class="logo-container">
                <img src ="../img/tomato.svg" id="tomato" >
                <img src="../img/login_page/watch.svg" id="watch" >
            </div>
        </div>

        <div class="login-container">

                <input name="email" type="text" placeholder="Email@email.com">
                <input name="password" type="password" placeholder="Haslo">
                <button type="submit" title="zaloguj">Zaloguj</button>
                <p>Nie masz konta? <a href="registration">Zarejestruj</a></p>
            </form>

        </div>
    </div>
</body>