<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Pomidoro | Login</title>

<!--    <div th:replace="fragments/link-menu :: link-menu"></div>-->

</head>
<body>

<div class="container">
    <div class="left-side">
        <div class="title">Pomidoro</div>
        <div class="logo-container">
            <img th:src="@{/img/tomato.svg}" id="tomato"/>
            <img th:src="@{/img/login_page/watch.svg}" id="watch"/>

        </div>
    </div>

    <div class="login-container">
        <form>
            <input name="email" type="text" placeholder="Email@email.com">
            <input name="password" type="password" placeholder="Haslo">
            <button type="submit" title="zaloguj">Zaloguj</button>
            <p>Nie masz konta? <a th:href="@{/registration}">Zarejestruj</a></p>
        </form>

    </div>
</div>
</body>
