<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pomidoro | Registration</title>
</head>
<body>

<div class="container">
    <div class = "left-side">
        <div class="title">Pomidoro</div>
        <div class="logo-container">
            <img th:src ="@{img/tomato.svg}" id="tomato">
            <img th:src="@{img/login_page/watch.svg}" id="watch">
        </div>
    </div>

    <div class="login-container">
        <form class ="register" >

            <input name="email" type="text" placeholder="Email@email.com">
            <input name="password" type="password" placeholder="Haslo">
            <input name="confirm-password" type="password" placeholder="Potwierdz haslo">
            <input name="name" type="text" placeholder="Imie">
            <input name="surname" type="text" placeholder="Nazwisko">
            <button type="submit" title="zaloguj">Zarejestruj</button>
            <p>Masz konto? <a th:href="@{/login}">Zaloguj</a></p>
        </form>

    </div>
</div>
</body>