<!DOCTYPE html>
<head> 

    <title>Pomidoro | ToDoList</title>
</head>

<body>
    <div class="base_container">

        <main>
            <div class="add-new">
                <div class="label">Dodaj nowe zadanie:</div>
                <form action="newTask" method="post">
                    <input name="description" id="add_new_task" type="text" placeholder="nowe zadanie">
                    <button type="submit" id="save">Zapisz</button>
                </form>
            </div>

            <div class="label">Zadania:</div>
            <div class="task_container">
                <div class="inner-label">Do zrobienia:</div>
                <div class="todo_container">

                </div>
                <div class="inner-label">Zrobione:</div>
                <div class="done_container">

                </div>
            </div>

        </main>

    </div>
                

</body>

